.page-header .btn-success {
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.filter-row {
  padding-bottom: 50px;
}

.search-form .form-control{
  max-width: 200px;
}

.other {
  white-space: pre-line;
}

/* color changes */
.navbar {
  background-color: #001A57;
}

.navbar-brand:hover {
  color: #0680CD !important;
}

.table a, .search a, .dl-horizontal a, form a {
  color: #0680CD !important;
}

.btn-success {
  background-color: #003366;
  border-color: #003366;
}

.btn-success:hover {
  background-color: #001A57;
  border-color: #001A57;
}

.btn-warning {
  background-color: #ffd960;
  border-color: #ffd960;
}

.btn-warning:hover {
  background-color: #e5c556;
  border-color: #e5c556;
}

.btn-danger {
  background-color: #cc3300;
  border-color: #cc3300;
}

.btn-danger:hover {
  background-color: #b72d00;
  border-color: #b72d00;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
